.footer {
    background-color: #051218;
    height: 150px;
    border-top: 3px solid rgb(1, 210, 119);
    margin-top: 20px;

    p {
        color: white;
        text-align: center;
        padding-top: 50px;

    }
}


