nav {
    background-color: #051218;
    text-align: center;
}

nav ul {
    padding: 0;
    padding-top: 10px;
}
nav li {
    list-style: none;
    padding-bottom: 10px;

    a {
        text-decoration: none;
        font-size: 1.1em;
        
    }

    a:hover {
        color: yellow;
        transition: 1s;
        
    }

}

